.gh-main-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: em(20px) 0;
    color: $white;
    background-color: $transGreen;

    .gh-heading {
        color: $white;
    }
}