<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Garden Hero</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="/static/main.css" rel="stylesheet" type="text/css" />
  <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
</head>

<div id="root"></div>

<!-- Not sure what the following is doing? The root div is all we need to mount the React application. -->
<div id="main">{% block main %}{% endblock %} {% csrf_token %</div>


<script type="text/javascript" src="/static/js/main.bundle.js"></script>

</html>