<html>

<head>
  <title>Garden Hero</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link href="/static/less/base.less" rel="stylesheet/less" type="text/css"></link>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
</head>
<div id="root"></div>
<div id="main">{% block main %}{% endblock %} {% csrf_token %}</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/static/js/main.js"></script>

</html>